html {
    display: flex;
    justify-content: center; 
    background: linear-gradient(to bottom, rgba(254, 255, 196, 0.8), rgba(97, 221, 161, 0)); /* Gradient + Image */
    background-size: cover; 
    background-repeat: no-repeat; /* Prevent image repetition */
    padding: 20px;
  
}

.section {
    display: flex;
    justify-content: center; 
}

.paintings-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.painting-container {
    width: 300px; 
    height: 440px; 
    margin: 20px;
    position: relative;
    background-color: #e6e6fa; 
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.painting {
    flex: 1;
    position: relative;
    overflow: hidden; 
}

.painting h2 {
    font-family: Arial, sans-serif;
    color: #440432;
    font-size: 30px;
    margin: 10px 0 5px; 
    background-color: #6e1b3f21;

    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.painting p {
    font-family: Arial, sans-serif;
    color: #555;
    margin: 5px 0;
}

.painting img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

.details-btn {
    background-color: #6d0951; 
    color: #e6e6fa;;
    border: none;
    padding: 12px 24px; 
    font-size: 18px; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
    width: 100%; 
    box-sizing: border-box; 
    text-align: center; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: 0; 
}
.details-btn:hover {
    background-color: #ffa726; 
    color: #fff; 
}


 
.no-paintings-message {
    font-family: Arial, sans-serif; /* Set font family */
    color: rgb(150, 24, 47); /* Set text color */
    font-size: 36px; /* Set font size */
    padding: 20px; /* Add padding for spacing */
    border-radius: 5px; /* Add border radius for rounded corners */
    text-align: center; /* Center-align text */
    margin-bottom: 20px; /* Add margin to separate from other elements */
    position: relative; /* Set position relative for absolute positioning of pseudo-element */
    overflow: hidden; /* Hide overflow for shimmer effect */
}

.no-paintings-message::after {
    content: ''; /* Add content for pseudo-element */
    position: absolute; /* Set position absolute */
    top: 0; /* Position from the top */
    left: -100%; /* Initially position outside the visible area */
    width: 200%; /* Make the width twice as large as the element */
    height: 100%; /* Set height to match the element's height */
    background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.5) 50%, transparent 100%); /* Create a gradient for shimmering effect */
    animation: shimmer 2s infinite; /* Apply animation */
}

@keyframes shimmer {
    0% {
        left: -100%; /* Move the gradient outside the visible area */
    }
    100% {
        left: 100%; /* Move the gradient to the right */
    }
}