<html>
    <body>
        <section class="section">
            <div class="paintings-container">
                <!-- Check if there are paintings -->
                <ng-container *ngIf="paintings.length > 0; else noPaintings">
                    <!-- Loop through paintings and use painting-item component -->
                    <app-painting-item *ngFor="let painting of paintings" [painting]="painting" class="painting-container"></app-painting-item>
                </ng-container>
                <!-- If there are no paintings -->
                <ng-template #noPaintings>
                    <div class="no-paintings-message">
                        There are no paintings yet.
                    </div>
                </ng-template>
            </div>
        </section>
    </body>
</html>
