<div class="topnav">
  <a class="active" routerLink="/">Home</a>
  <a routerLink="/about">About</a>
  <a routerLink="/paintings">All paintings</a>
  <!-- <a routerLink="/search-painting">Search</a> -->
  <a routerLink="/contacts">Contact us</a>
  <a routerLink="/add">Add painting</a>

  <!-- Render navigation links based on authentication status -->
  <ng-container *ngIf="isLoggedIn$ | async; else notLoggedIn">
    <!-- links for authenticated users -->
    <a (click)="logout()">Logout</a>
    <div class="logged-in-info">
      <span class="hello">Hello,</span>
      <span class="email">{{ userEmail$ | async }}</span>
    </div>
  </ng-container>
  
  <ng-template #notLoggedIn>
    <!-- Links for non-authenticated users -->
    <a routerLink="/auth/register">Register</a>
    <a routerLink="/auth/login">Login</a>
  </ng-template>
</div>
