

:host {
  display: block;
  padding-bottom: 60px; 
  margin: 0;
  background-color: #ffb6c1; 
  min-height: 100vh; 
  position: relative; 
}

footer {
  position: absolute; /* Position the footer at the bottom */
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #ff99c9; /* Baby pink */
  color: #fff; /* White text */
  font-family: Arial, Helvetica, sans-serif;
}