body {
    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/564x/66/d5/5c/66d55c881e032c9541fb10394cd97505.jpg');
    background-repeat: repeat-y;
    background-size: auto 100%;
    background-position: center;
}

.user-profile-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Change to center for vertical alignment */
    min-height: 90vh; /* Use min-height instead of height */
    padding-top: 20px;
    width: 100%; /* Ensure full width */
}

.user-profile {
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 10px;
    background-color: #f3b4ec72;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1000px; /* Limit maximum width */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info p {
    margin-bottom: 15px;
    font-size: 16px;
}

.profile-info strong {
    color: #333;
}

.profile-info p.no-paintings {
    font-style: italic;
    color: #ff0080; /* Changed color to red for emphasis */
    font-size: 36px;
    font-weight: bold; /* Added bold font weight */
    text-align: center; /* Centered text */
    background-color: rgba(116, 252, 207, 0.467);
    border-radius: 20px;
    position: relative;
}

.user-profile h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

.user-profile h2 .user-email {
    color: rgb(53, 0, 199);
    animation: sparkle 1s infinite alternate;
}


.paintings-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.app-painting-item {
    margin: 5px;
}

.user-profile .painting-title {
    font-weight: bold;
    color: #53001e;
    font-size: 18px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.user-profile .painting-title:hover {
    color: #e1e458;
    transform: scale(1.15);
}

.user-profile .profile-info .created-paintings {
    font-size: 30px; /* Increase font size */
    text-align: center; /* Center align text */
}

.user-profile .for-purchase {
    text-align: center; /* Center align text */
}

@keyframes sparkle {
    from {
        text-shadow: none;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #00f, 0 0 15px #fff, 0 0 20px #00f, 0 0 25px #fff, 0 0 30px #00f, 0 0 35px #fff;
    }
}